body
{
    margin: 0;
    padding: 0;
    
    background-image: url(../img/lll.jpg);
    background-size: cover;
    transition: 1s;
}
header{
    transition: 2s;
}
li,a,h1,h2,h3,h4,footer
{
    font-family: system-ui;
    color: #151519;
    list-style: none;
    text-decoration: none;
}
h1
{
    color:white;
}
span
{
    color: #247fe6e5;
}
.nav_header
{
    background-color: #f2f2f7;
    transition: 1s;
    margin: auto;
}
.ul_header
{
    display: flex;
    
    width: 33vw;
    margin: auto;
    padding: 0;
    
}
.li_header
{
    padding: 15px 2vw 15px 2vw;
    text-align: center;
    color: #151519;
    vertical-align: center;
    
    
}
.prop
{
    border-right: 1px solid #1515196c;
}
.li_header:hover
{
    background-color: #15151949;
    transition: 0.5s;
}
.current
{
    
    background-color: #151519;
    color:#fff;
}
footer
{
    text-align: center;
    background-color: #f2f2f7;
}
.digit_footer
{
   
}
.logos:hover
{
    width: 31px;
    height: 31px;
}

.section_one
{
    display: flex;
    justify-content: space-around;

    transition: 2s;
    transition: 1s;

    transition: 2s;
    margin-bottom: 150px;
}
.pad{
    padding: 5vw 0 5vw 0;
}
.texte_presentation
{
    color: #f2f2f7;
    width: 28vw;
    font-size: 30px;
    transition: 1s;
}
.img_presentation
{
    transition: 1s;
}
.slogan
{
    color: rgb(116, 109, 109);
    font-family: tahoma;
    font-size: 20px;
    transition: 1s;
}
.section_two
{
    background-image: url(../img/fond_section_two.jpg);
    background-size: cover;
    width:100%;
    padding-bottom: 100px;
}
.texte_noir
{
    color:#151519;
}
.btn_savoir{
    color: #151519;
    background-color:#247fe6e5;
    border: none;
    padding: 15px;
    border-radius: 3px;
    transition: 1s; 
}
.btn_savoir:hover{
    background-color:#247fe6b4;
    transition: 1s;
    box-shadow: 2px 2px 6px 2px #15151949; 
}
.zone_message
{
    border: none;
    width: 80%;
    margin: auto;
    margin-top: 18px;
    background-image: url(../img/fond_section_two.jpg);
    margin-bottom: 50px;
}
.titre
{
    font-style: italic;
    font-weight: bolder;
}
.nav_forum
{
    background-color: rgb(152, 152, 247);
    border: 1px solid black;
    margin: auto;
    font-style: oblique;
    font-weight: bold;
}
.ul_forum
{
  display: flex;
  height: 100%;
  width: 100%;
  color: blanchedalmond;
  
}
.li_forum
{
    
}
.a_forum :hover
{
    color:blue;
    text-decoration: underline;
}
.a_forum
{
    display: flex;
    width: 33%;
    height: 100%;
}
.active
{
    color:blue;
    

}

.formulaire
{
    width: 70%;
    box-shadow: 1px 0px 10px 0px rgba(71, 68, 68, 0.322); 
    
}
.form
{
    
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
  
}
.creer
{
    
    border-radius:15%;
    background-color: #247fe6e5;
    padding: 4px;
    
}
.creer_message
{
    
    height: 35px;
    padding-top: 12px;
    padding-right: 25px;
    font-family: system-ui;
}
.text
{
    height: 25px;
    border-radius: 5px;
    border: solid 1px darkgray
}
.select 
{
    height: 30px;
    border-radius: 5px;
    border: solid 1px darkgray
    
}
.connection
{
     display: flex;
    justify-content: space-between;
   

}
.c_pseudo, .c_email
{
    height: 25px;
    border-radius: 5px;
    border: solid 1px darkgray;
    width: 48%
}

.check1
{
    font-family: system-ui;
    justify-content: space-between;
}
.check_box
{
    width: 17px;
    height: 17px;
}
.envoyer
{
    width: 75px;
    height: 27px;
    border-radius: 5px;
    background-color: #247fe6e5;
    border: none
}
.form_class
{
    display: inline;
}
.bouton_recherche
{
    display: inline-block;
    border: 1px solid blue;
    
    background-color: rgb(247, 243, 243);
    
}
.recherche

{
    
    border: none;
    background-color:rgb(253, 247, 247);
    height: 25px;
    font-style: italic;
    color: black;
    margin-left: 20%;

}
.nom_cat
{
    padding-left: 12px;
    padding-right: 12px;
}
.la_division
{
    width: 100%;
    height: 60px;
}
.les_messages
{
    padding-left: 60px;
    padding-right: 40px
}
.le_forum
{
    padding-right: 30px;
}
.nos_messages
{
    border: 1px solid blue;
}
.message_suivant
{
    height: 60px;
    width: 100%;
    display: inline-flex;
    background-color: #c1c1f0ab;
}
.font
{
    display: flex;
    flex-direction: column;
}


.message_info
{
    height: 55%;
    width: 100px;
    padding-left: 5px;
    margin-top:2%;
    margin-bottom: 2%;
    display: inline;
}
.alogo
{
    position: absolute;
    transition: .5s;
}
.alog
{
    position: absolute;
}
.alogo:hover
{
    transform: scale(1.3,1.3);
    transition: .5s;
    z-index: 55;
}
.un
{
    left: 85%;
    top:20%;
}
.deux
{
    left: 83.58%;
    top:44%;
}
.trois
{
    left: 51.5%;
    top:31.9%;
}
.quatre
{
    left: 118%;
    top:37.2%;
}
.cinq
{
    left: 140%;
    top:30%;
}
.six
{
    left: 140%;
    top:11.8%;
}
.sept
{
    left: 100%;
    top:62.5%;
}
.huit
{
    left: 138%;
    top:61%;
}
.neuf
{
    left: 149.2%;
    top:47%;
}
.dix
{
    left: 117.8%;
    top:0%;
}
.rep{
    width: 20%;
    border-left: 1px solid rgb(207, 199, 199);
    
}
.onze
{
    left: 167%;
    top:23%;
}
#alogos
{
    position: relative;
    right: 100%;
    width: 200px;
    height:400px;
    
}
.div_msg2
{
    border-bottom: 10px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 229, 240);
    
}
.div_msg2:hover{
    background-color: rgb(198, 216, 238);
}
.pseudo_msg
{
    display: flex;
    font-family: system-ui;
}
.user_msg 
{
   /* border: 1px solid rgb(190, 181, 181);*/
    padding: 10px;
   
}
.user_pseudo
{
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
   background-color:rgb(218, 218, 252);
}
.pp
{
    height:70px;
    width: 70px;
    border: 1px solid darkgray;
    border-radius: 100%;
    text-align: center;
}
.btn_rep{
    color: #151519;
    background-color:#247fe6e5;
    border: none;
    width: 60%;
    padding: 5px;
    border-radius: 3px;
    transition: 1s;
    margin-top: 30px;
    margin-left: 10px
}
.footer_msg
{
    display: flex;
    justify-content: flex-end;
    
}
.user_date
{
    margin-right: 10%;
}
.reponses
{
    margin-right: 10%;
    margin-bottom: 10px;
}
.btn_reponses
{
    
    width: 100px;
    font-style: oblique;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}    
.scontact
{
    
    background-image: url(../img/fond_section_two.jpg);
    width: 90%;
    margin: auto;
    background-size: cover;
    font-family: system-ui;
    margin-bottom: 4vh;
    margin-top: 4vh;
    padding-bottom: 10vh;
    padding-top: 5vh;
}
.mcontact h1{
    text-align: center;
    color: #151519;
}
#hr1{
    border: none;
    border-bottom: 1px solid #247fe6e5;
    width: 10%;
    
}
#hr2{
    border: none;
    border-bottom: 1px solid #247fe6e5;
    width: 5%;
    
}
.tcontact
{
    text-align: center;
    color: rgb(116, 109, 109);
    font-size: 18px;
    font-family: system-ui;
    margin-bottom: 100px;
}
.cform{
    display: grid;
    grid-template-columns: 35% 35% 35%;
    width: 83%;
    margin: auto;
}

.textarea
{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 82%;
    font-weight: bolder;
}
.cform label
{
    font-style: system-ui;
    font-weight: bold;
    
}
.cform input ,textarea
{
    border: 1px solid #247fe6e5;
}
.cform input
{
    
    height: 40px;
    width: 80%;
    margin-bottom: 50px;
    
}
.lsub
{
    margin-left: 8.5%;
}
.sujet
{
    background-image: url(../img/fond_section_two.jpg);
}
table
{
    border: 1px solid blue;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}
td
{
    height:6em;
    border: 1px solid darkgray;
    text-align: center;
    text-transform: uppercase;
}
.lien_cat:hover
{
    color: blue;
    text-decoration: underline;
}
.div_reponses
{
    border-radius: 5%;
    font-family: system-ui;
}
.reponses
{
    border: 1px solid blue;
    background-color: blue;
    border-radius: 10%;
    padding: 5px;
}
.sdeveloppement{
    display: flex;
    padding: 0px 50px 10px 50px;
}
.sdeveloppement .dev{
    padding: 0px 20px 0px 20px;
}
.dev
{
    width: 33%;
}
@media(max-width:860px)
{
    .img_presentation
    {
        position:absolute;
        visibility:hidden;
    }
    .texte_presentation
    {
        width: 100%;
        padding: 0 2vw 0 2vw;
    }
    .section_one
    {
        display: block;
        height: 100vh;
        text-align: center;
    } 
    .formulaire
    {
        width: 100%;
        
    }
    .le_forum
    {
        margin-right: -30px;
        padding-left: 2px;
    }
    .les_messages
    {
        padding-left: 1px;
        margin-right: -40px
    
    }
    .titre
    {
        padding-left: 6px;
    }
    .user_message, .user_pseudo,.message_info
    {
        margin-top: 6%;
    }
    .sdeveloppement
    {
        flex-direction: column;
    }
    .dev
    {
        width: 100%;
        text-align: center;
    }
    .cform
    {
        display: flex;
        flex-direction: column;
    }
    .textarea
    {
        width: 67%;
        margin-left: 8.2%;
    }
    .connection
    {
        flex-direction: column;
    }
    .c_pseudo, .c_email
{
   width: 100%
}
   
}
